
body{
    background-color: var(--bg-body);
    font-family:'Open Sans', 'bootstrap-icons', sans-serif;
    color: var(--bg-letra1);
}
header img{
    width: 190px;
}
.cabecalio{
    background-color:var(--bg-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px var(--br--box-shadow1);
}

.menu-lateral-logo{
    width: 40px;
    align-self: center;
    padding: 16px;
}
.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-header);
    width: 75vw;
    height: 100vh;
}
.menu-lateral-link{
    height: 60px;
    color: var(--bg-fonte-alternativa);
    padding-left: 64px ;
    display: flex;
    align-items: center;
}
