@font-face {
    font-family: "bootstrap-icons";
    src: url("./fonts/bootstrap-icons.woff2?856008caa5eb66df68595e734e59580d") format("woff2"),
  url("./fonts/bootstrap-icons.woff?856008caa5eb66df68595e734e59580d") format("woff");
  }

.menu-buton i::before{
    content: "\F479";
    width: 35px;
}
.noti-buton i::before{
    content: "\F18A";
    width: 35px;
}
.menu-lateral-link::before{
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}
.menu-lateral-link-inicio::before{
    content: "\F423";
    font-size: 25px;
}
.menu-lateral-link-quem::before{
    content: "\F194";
    font-size: 25px;
}
.menu-lateral-link-contatos::before{
    content: "\F5C1";
    font-size: 25px;
}
.menu-lateral-link-servicos::before{
    content: "\F5DB";
    font-size: 25px;
}